*{
box-sizing: border-box;
}

h1 {
  color: blue;
  position: relative;
  font-size: 4em;
  margin-bottom: 0px;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
}

h2{
  color: red;
  position: relative;
  font-size: 2em;
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

#busPic{
  float: left;
  height: 200px;
}

img {
  float: bottom;
  position: relative;
  border: 1px solid purple;
  width: 250px;
  height: 250px;
  margin: 30px;
}

section{
  border: 1px dashed green;
  display: block;
  margin-top: 20px;
}


canvas {
height: 500px;
width: 800px;
padding: 30px;
margin: 40px;
}