*{
box-sizing: border-box;
}

h1 {
  font-size: 2em;
  margin-bottom: 40px;
}

img {
  border: 1px solid purple;
  width: 22%;
  position: relative;
  margin: 30px;
}
canvas {
height: 500px;
width: 800px;
padding: 30px;
}